.detail{
    margin-top: 0;
    width: auto;
    height:720px;
    background-image: url("../../img/pizza.jpg");
    background-size:cover;
    display:flex;
    justify-content:start;
}

.imgDetail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.i{
    border-radius: 20px;
}

.data{
    display:flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 25px;
    background-color: rgba(38, 21, 14, 0.824);
    text-align: start;
}

span{
    color: white;
}
h3{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    color: white;
}