.create {
  margin-top: 0;
  width: auto;
  height: 630px;
  background-image: url("../../img/Create.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
}

h1 {
  margin-top: 0px;
}
h4 {
  margin-top: 0px;
}
.red {
  color: brown;
  font-size: smaller;
}

span {
  margin: 10px;
}

label {
  color: rgb(0, 0, 0);
}

input {
  margin: 3px;
  transition: background-color 0.3s;
  padding: 0px 16px;
  text-decoration: none;
  border-radius: 20px;
  border-color: black;
  border-width: 0px;
  background-color: rgba(255, 255, 255, 0.767);
}

.contain {
  margin-left: 80px;
  padding-top: 0px;
  width: 450px;
  height: 500px;
  border-color: black;
}

.cuadro {
  border-radius: 50px;
  padding: 15px;
  background-image: url("../../img/tabla2.png");
  background-size: 250%;
  background-position: center;
}

.justificado {
  padding: 10px;
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.sombra {
  background-color: rgba(209, 116, 50, 0.238);
  border-radius: 50px;
  width: 420px;
}

.instructions {
  display: -webkit-inline-box;
  width: 450px;
  
}

.createBut {
  width: auto;
}

.titleInp {
  text-transform: uppercase;
  width: 250px;
}

.inpIns {
  margin: 3px;
  transition: background-color 0.3s;
  padding: 0px 16px;
  text-decoration: none;
  border-radius: 20px;
  border-color: black;
  border-width: 0px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.767);
  width: 250px;
}

.inpSum {
  height: 60px;
  width: 250px;
}

.range{
  padding: 0;
}