.container{
    margin-top: 0;
    width: auto;
    height:720px;
    background-image: url("../../img/home.jpg");
    background-size:cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

