.search {
  justify-content: center;
  align-items: center;
  margin: auto;
}
.input {
  text-align: center;
  border: 1px solid #cbf3ee;
  height: 32px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.search-box {
  position: absolute;
  width: 400px;
  margin: 30px 300px;
  align-content: center;
  align-self: flex-end;
  align-items: center;
  justify-self: center;
}
.search-form {
  height: 32px;
  border: 1px solid #cbf3ee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
}
.search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}

.search-box input[type="text"] {
  width: 90%;
  padding: 8px 0 12px 1em;
  color: #333;
  outline: none;
}
.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 34px;
  width: 80px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 4px;
  border-width: 0;
  background-color: #feacae;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 15px 5px 0px;
  cursor: pointer;
}
