.containerCards {
  background-size: contain;
  background-position: 50%;
  display: flex;
  justify-content: center;
  width: auto;
  height: 270px;
}
li{
  list-style:none
}

img{
  margin-right: 9px;
}

.botones {
  margin: 0px;
  transition: background-color 0.3s;
  padding: 10px 16px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
}
button:hover:not(.active) {
  background-color: rgb(80, 200, 110);
}

button {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.767);
  width: 30px;
  height: 30px;
  border-width: 0px;
}
.co {
  background-color: rgba(64, 64, 64, 0.197);
  width: 1020px;
  height: 534px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  margin: 5px;
}
h5 {
  margin: 5px;
}

img {
  border-radius: 20px;
}

.cont {
  display: contents;
}
.espacio {
  margin: 20px;
}

.layout {
  width: 1000px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

a:hover {
  background-color: brown;
  color: white;
  border-radius: 30px;
  font-size: 115%;
}