.nav {
  background-color: rgba(0, 0, 0, 0.127);
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: -webkit-fill-available;
  justify-items: flex-end;
}

.span{
  border: 1px;
  color: aliceblue;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

ul {
    list-style: none;
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 8px 70px;
    line-height: 3.5;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}


.navhome {
  display: flex;
  align-self: flex-start;
  font-size: medium;
}

.navcreate {
  display: flex;
  align-self: flex-end;
  font-size: medium;
}

.icon {
  width: 55px;
  height: 55px;
}
